/* Resetear márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #F5E9DB; /* Color arena */
}


header {
    /*border: 1px crimson solid; */
    width: auto; 
    /*height: auto;*/
   
    /* display: inline-block ;   */
    /* display:block; */
    display:flex ;  
    flex-direction: row; /* dirección del eje flex. row es del default */
    flex-wrap: wrap;
    /*flex-basis: auto;*/
    /*justify-content: space-between;*/ /*Eje princial: Distribuye los elementos horizontalmente */
    justify-content: center;
    align-items:center; /*Eje secundario: Centra verticalmente los elementos */
    background-color: #333; /* Color de fondo del encabezado */
    color: #fff; /* Color de texto del encabezado */
    padding: 8px;
    box-shadow: 0 0 1.5rem rgba(209, 209, 68, 0.733); /* text-shadow: 0 0 0.55rem rgb(209, 209, 68, 0.733); */
    margin-left: auto;
 
}  

.header-logo {
    background-color: #333; /* Color de fondo del encabezado */
    color: #fff; /* Color de texto del encabezado */
    margin-right: auto; /* Empuja el logotipo hacia la izquierda */
    
}

.header-logo img {    
   /*border: 1px rgb(82, 214, 56) solid; */
   height: 4rem; 
   width: 4rem; 
   /* margin-right: 40px; */
   

}

.header-logo img:hover {
    /* border: 1px rgb(82, 214, 56) solid;  */
    animation: tilt-n-move-shaking 0.50s infinite; 
    
}
@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

.menu {
    /* Aquí definimos que el menú se expanda todo lo posible */
    flex-grow: 1;
}

nav ul {    
    list-style-type: none;
    text-align: center;
    
}

nav ul li {
    display: inline;
    margin-right: 20px;
    vertical-align: middle; /* Alinea verticalmente los elementos con la imagen */

}

nav ul li a {
    color: #fff; /* Color de los enlaces del menú */
    text-decoration: none;
    transition: color 0.3s ease; /* Transición suave del color */
}

/*TP: Utilizar al menos una animación, transformación o una transición. */
nav ul li a:hover {
    color: #ffd700; /* Cambia el color al pasar el mouse */
   /* text-decoration: underline;*/ /* Agrega un subrayado al pasar el mouse sobre los enlaces */
}

main {
    /* border: 2px rgb(202, 49, 22) solid;  */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */

}


.main-background {
    position: relative; /* Establecer la posición relativa para que los pseudoelementos se posicionen correctamente */
    padding: 20px; /* Agregar un relleno para separar el contenido del borde */
}

.main-background::after {
    content: ''; /* Agregar contenido al pseudoelemento */
    position: absolute; /* Establecer la posición absoluta */
    top: 0; /* Alinear el pseudoelemento arriba */
    left: 0; /* Alinear el pseudoelemento a la izquierda */
    width: 100%; /* Establecer el ancho al 100% */
    height: 100%; /* Establecer la altura al 100% */
    background-image: url('../../static/img/fondo.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajustar el tamaño de la imagen para cubrir todo el contenedor */
    background-repeat: no-repeat; /* Evitar que la imagen de fondo se repita */
    background-position: center; /* Centrar la imagen de fondo */
    background-color: rgba(255, 255, 255, 0.5); /* Color blanco con opacidad del 50% */
    z-index: -1; /* Colocar el pseudoelemento detrás del contenido */
    opacity: 0.45; /*Establece la opacidad de la imagen de fondo (valor entre 0 y 1)*/
}



#banner{
    /* border: 2px rgb(66, 53, 185) solid;  */
    border-radius: 10px;
    height: 600px;
    opacity: 1;


}

.container{
    /* border: 2px rgb(82, 214, 56) solid;  */
    max-width: 1200px;
    margin: 12px auto;
}

.card-banner{
    margin: 0 auto;
    text-align: center;
    padding:0 160px;
}

/*
.card-banner h1{
}
*/
/*
.card-banner h2{
    margin-bottom: 20px;
}
*/

.links {    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.links ul {
    list-style-type: none;
}

.links ul li {
    margin-bottom: 10px;
}

/* Estilos de imagen */
.image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* TP: Debe ser totalmente responsive con mínimo 3 puntos de corte con media querys para 3 tamaños de dispositivos (PC escritorio, Tablet, Celular).  */

/* Media query para dispositivos con ancho máximo de 1024px (PC) */
@media only screen and (max-width: 1024px) {
    /* Estilos para PC */
    nav ul li {
        display: block; /* Cambia los elementos del menú a bloque */
        text-align: center; /* Centra los elementos del menú */
        margin: 0 auto 10px; /* Alinea y separa los elementos del menú */
    }
}

/* Media queries para dispositivos */
@media only screen and (max-width: 768px) {
    /* Estilos para tablet */
    nav ul li {
        display: block; /* Cambia los elementos del menú a bloque */
        text-align: center; /* Centra los elementos del menú */
        margin: 0 auto 10px; /* Alinea y separa los elementos del menú */
    }
}

@media only screen and (max-width: 480px) {
    /* Estilos para móvil */
    nav ul li {
        margin-right: 0; /* Elimina el margen derecho en móvil */
    }
}




/* TP: Poseer una estructura HTML maquetada con Flexbox y/o Grid. */
/* Estilos para el grid de los personajes */
.characters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.character {
    background-color: #fff; /* Color de fondo del personaje */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.character img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.character h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.character p {
    margin-bottom: 10px;
}

/* Estilos para el título */
h1 {
    text-align: center;
    margin-top: 20px;
}



footer {
    background-color: #333; /* Color de fondo del pie de página */
    color: #fff; /* Color de texto del pie de página */
    text-align: center;
    padding: 20px;
}


