/**********************  NATY ******************************/
/* Resetear márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Las propiedades width y height incluyen el contenido, el padding y el border. El ancho y alto definido para un elemento serán sus dimensiones totales, independientemente del padding y el border.*/
}


.el-messiri-font {
    font-family: "El Messiri", "sans-serif";
    /*font-optical-sizing: auto;*/
    font-weight: 400;
    font-style: normal;
}


/* Estilos generales */
body {
    font-family: 'El Messiri', 'Josefin Sans', sans-serif;
    background-color: #F5E9DB;
    /* Color arena */
}

h1 {    
    color: #009688;
    text-align: center;
    margin-top: 20px;
}

header {
    /*border: 1px crimson solid; */
    width: auto;
    /*height: auto;*/

    display: flex;
    flex-direction: row;
    /* dirección del eje flex. row es del default */
    flex-wrap: wrap;
    /*flex-basis: auto;*/
    /*justify-content: space-between;*/
    /*Eje princial: Distribuye los elementos horizontalmente */
    justify-content: center;
    align-items: center;
    /*Eje secundario: Centra verticalmente los elementos */
    background-color: #333;
    /* Color de fondo del encabezado */
    color: #fff;
    /* Color de texto del encabezado */
    padding: 8px;
    box-shadow: 0 0 1.5rem rgba(209, 209, 68, 0.733);
    /* text-shadow: 0 0 0.55rem rgb(209, 209, 68, 0.733); */
    margin-left: auto;

}

/* -----------------  LOGO  -----------------*/

/*.header-logo {*/
/* background-color: #333; /* Color de fondo del encabezado */
/*color: #fff; /* Color de texto del encabezado */
/*color: #1c20da; /* Color de texto del encabezado */
/* margin-right: auto; /* Empuja el logotipo hacia la izquierda */

/*}*/

.header-logo img {
    /*border: 1px rgb(82, 214, 56) solid; */
    height: 4rem;
    /*1 rem=tamaño de fuente raíz*/
    width: 4rem;
}

.header-logo img:hover {
    /* border: 1px rgb(82, 214, 56) solid;  */
    animation: logo-animation 0.50s infinite;
    /* animation: <name> <duration> <timing-function>  <delay><iteration-count> <direction> <fill-mode> <play-state> */

}

@keyframes logo-animation {
    0% {
        transform: translate(0, 0) rotate(90deg);
    }

    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }

    50% {
        transform: translate(0, 0) rotate(45deg);
    }

    /*75% { transform: translate(-5px, 5px) rotate(-5deg); }*/
    /* 100% { transform: translate(0, 0) rotate(0deg); }*/
}

/* -----------------  MENU HEADER  -----------------*/
.menu {
    /* Aquí definimos que el menú se expanda todo lo posible. Esto hace que el logo quede a la izquierda */
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
    text-align: center;
    /*Define la posicion del menú*/

}

nav ul li {
    display: inline;
    /*Para que el menu aparezca horizontal si entre en el ancho*/
    margin-right: 50px;
    /*vertical-align: middle; /* Alinea verticalmente los elementos con la imagen */

}

nav ul li a {
    color: #fff;
    /* Color de los enlaces del menú */
    text-decoration: none;
    transition: color 0.3s ease;
    /* Transición suave del color */
    font-family: sans-serif;

}

/*TP: Utilizar al menos una animación, transformación o una transición. */
nav ul li a:hover {
    font-style: italic;
    color: #ffd700;
    /* Cambia el color al pasar el mouse */
    /* text-decoration: underline;*/
    /* Agrega un subrayado al pasar el mouse sobre los enlaces */
}


/*
.main-background {
    border: 2px rgb(43, 207, 28) solid;  
    position: relative;     
    padding: 20px;
    border-radius: 10px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 1);     
}
*/
/* -----------------  MEDIA QUERY  -----------------*/
/* TP: Debe ser totalmente responsive con mínimo 3 puntos de corte con media querys para 3 tamaños de dispositivos (PC escritorio, Tablet, Celular).  */

/* Media query para dispositivos con ancho máximo de 1024px (PC) */
@media only screen and (max-width: 1024px) {

    /* Estilos para PC */
    nav ul li {
        display: block;
        /* Cambia los elementos del menú a bloque */
        text-align: center;
        /* Centra los elementos del menú */
        margin: 0 auto 10px;
        /* Alinea y separa los elementos del menú */
    }
}

/* Media queries para dispositivos */
@media only screen and (max-width: 768px) {

    /* Estilos para tablet */
    nav ul li {
        display: block;
        /* Cambia los elementos del menú a bloque */
        text-align: center;
        /* Centra los elementos del menú */
        margin: 0 auto 10px;
        /* Alinea y separa los elementos del menú */
    }
}

@media only screen and (max-width: 480px) {

    /* Estilos para móvil */
    nav ul li {
        margin-right: 0;
        /* Elimina el margen derecho en móvil */
    }
}

.content {
    max-width: 800px;
    /* Establece el ancho máximo del contenido */
    margin: 0 auto;
    margin-left: 200px;
}

/*h1 {
    border: 1px rgb(104, 194, 96) solid; 
    text-transform: uppercase;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
 }*/

.content p {
    margin: 15px 0;
    padding: 10px;
    background-color: #e9f5e9;
    border-left: 4px solid #bcebbd;
    transition: background-color 0.3s, transform 0.3s;
    line-height: 1.5;
    text-align: left;
}

.imagen-gluten1 {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border: 2px solid #ccc;
    transition: transform 0.3s, box-shadow 0.3s;
}

.imagen-gluten1:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contenedor {

    padding: 20px;
    /* Espacio interno */
    margin: 20px;
    /* Márgenes exteriores */
    border-radius: 10px;
    background-color: #cef0e3;
    /* Verde claro */



}



ul,
ol {
    margin-left: 20px;
}


h2 {
    margin-top: 50px;
    margin-bottom: 10px;
}

.aside-text {
    background-color: #f0ecd6;
    /* Color arena */
    border: 2px solid #bcebbd;
  
    border-radius: 10px;
    /* Bordes redondeados */
    padding: 20px;
    /* Espaciado interno */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    font-family: 'Comic Sans MS', cursive;

    color: #0d0e0d;
    position: absolute;
    /* Establece la posición absoluta */
    top: 0;
    /* Coloca el aside en la parte superior */
    /*: 100px;*/
    /* Coloca el aside en el lado derecho */
    width: 200px;
    /* Ancho del aside */
    margin-right: 20px;
    /* Margen derecho para separarlo del borde de la página */
    margin-top: 500px;
}

.aside-text h2 {
    font-size: 24px;
    /* Tamaño de fuente del título */
    text-align: center;
    /* Centrar el texto */
    margin-bottom: 10px;
    /* Margen inferior */
}

.aside-text p {
    line-height: 1.5;
    /* Espaciado entre líneas */
}

.aside-text p:last-child {
    font-weight: bold;
    /* Texto en negrita */
}


/* Estilos para la lista */
ul {
    list-style-type: disc;
    /* Utiliza marcadores circulares */
    margin: 20px 0;
    /* Establece un margen superior e inferior de 20px y ningún margen a los lados */

}

/* Estilos para los elementos de lista */
li {
    color: #333;
    /* Color del texto */
    font-family: Arial, sans-serif;
    /* Fuente del texto */
    font-size: 16px;
    /* Tamaño del texto */
    font-weight: normal;
    /* Grosor normal del texto */
    padding: 5px 0;
    /* Espacio interno arriba y abajo de 5px, sin espacio a los lados */
    text-indent: 10px;
    /* Indenta el texto 10px para alinear con el marcador */
    text-align: left;
}



.contenedor image {
    max-width: 100%;
    height: 100%;
    margin-bottom: 30px;
}




.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* Espacio entre elementos */
    padding: 20px;
}

.recipe {
    background-color: rgba(255, 255, 255, 0.8);
    /* Fondo con transparencia */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border-style: groove;
    max-width: 100%;
    /* Ancho máximo del contenedor */
    max-height: 100%;
    /* Altura máxima del contenedor */
    text-align: center;
    /* Centra horizontalmente el contenido */
}

.recipe h2 {
    margin-bottom: 10px;
}

.recipe img {
    max-width: 100%;
    height: 200px;
    border-radius: 5px;
    margin-top: 50px;
    display: inline-block;
    /* Permite centrar verticalmente */
    vertical-align: middle;
    /* Centra verticalmente */
}

.ver-receta {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    background-color: #8fb299;
    /* Verde */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 40px;
}

.ver-receta:hover {
    background-color: #6c977a;
    /* Verde más oscuro al pasar el ratón */
}

.container2 {
    display: grid;
    grid-gap: 40px;
    grid-template-rows: 100px;
    margin: auto;
    background-color: #f8f7f1;
    border-radius: 2em;
    padding: 2em;
    max-width: 800px;
    /* Establece el ancho máximo del contenido */
    margin-top: 50px;
    margin-bottom: 20%;


}

.recipes h2 {
    color: #009688;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}

.recipes p {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;

}


.recipes a {
    text-decoration: none;
    color: #009688;
    font-weight: bold;
    margin-top: 80px;
}

.ingredientes {
    margin-top: 40px;
    margin-bottom: auto;

}

.relleno {
    margin-top: 30px;
}

.preparacion {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    /* Agrega un espacio interno de 10px */

}

body {
    background-color: beige;
    color: #333;
    /* Color de texto principal */
}

.main-background2 {
    position: relative;
    /* Establecer la posición relativa para que los pseudoelementos se posicionen correctamente */
    padding: 20px;
    /* Agregar un relleno para separar el contenido del borde */
}

.main-background2::after {
    content: '';
    /* Agregar contenido al pseudoelemento */
    position: absolute;
    /* Establecer la posición absoluta */
    top: 0;
    /* Alinear el pseudoelemento arriba */
    left: 0;
    /* Alinear el pseudoelemento a la izquierda */
    width: 100%;
    /* Establecer el ancho al 100% */
    height: 100%;
    /* Establecer la altura al 100% */
    background-image: url('../../static/img/fondo.jpg');
    /* Ruta de la imagen de fondo */
    background-size: cover;
    /* Ajustar el tamaño de la imagen para cubrir todo el contenedor */
    background-repeat: no-repeat;
    /* Evitar que la imagen de fondo se repita */
    background-position: center;
    /* Centrar la imagen de fondo */
    /*background-color: rgba(255, 255, 255, 0.5); /* Color blanco con opacidad del 50% */
    z-index: -1;
    /* Colocar el pseudoelemento detrás del contenido */
    opacity: 0.40;
    /*Establece la opacidad de la imagen de fondo (valor entre 0 y 1)*/
}

#banner2 {
    /* border: 2px rgb(66, 53, 185) solid;   */
    border-radius: 10px;
    height: 600px;



}

.container3 {
    width: auto;
    margin: auto;
      }
      
      .contact {
          background-color: #f0f8eb; /* Verde claro */
          padding: 20px;
          border-radius: 10px;
          margin-top: 20px;
          
      }
 
      
      
      form {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 0px;
      }
      
      label {
          font-weight: bold;
      }
      
      input[type="text"],
      input[type="email"],
      input[type="date"],
      textarea,
      select {
          width: 80%;
          margin: 10px;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-sizing: border-box;
      }
      
      
      button[type="submit"] {
          min-width: 100px;
          width: 30%;
          padding: 10px 20px;
          margin-top: 40px ;
          background-color: #8fb299; /* Verde más oscuro */
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
      }
      
      button[type="submit"]:hover {
          background-color: #6c977a; /* Verde más claro al pasar el ratón */
      }


footer {
    /*border: 2px rgb(82, 214, 56) solid;  */
    position: relative;
    /*position: absolute ;*/
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #ffe551;
    padding: 20px;
    text-align: center;
    font-family: 'Arial';

    /*Eje secundario: Centra verticalmente los elementos */
}

.whatsapp{
    border: 5px rgb(82, 214, 56) ridge ;  
    margin-top: 30px;
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
}

   


