<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../static/css/styles_naty.css">
   
    <link rel="icon" href="../static/img/favicon.ico">
    <!-- Google fonts El Messiri -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap" rel="stylesheet">


</head>

<body>
    <header>
        <div class="header-logo">
            <a href="../index.html">
                <img src="../static/img/logo.png" alt="Logo La WEB del Celiaco">
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="que-es.html">¿Qué es?</a></li>
                <li><a href="recetas.html">Recetas</a></li>
                <li><a href="personajes.html">Personajes</a></li>
                <li><a href="links-utiles.html">Links Útiles</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <!-- TP: El sitio web debe incluir un formulario de contacto, con al menos 5
    campos que incluya (un checkbox o radiobutton), un select y una
    imagen, con validación realizada mediante JavaScript para que los
    campos sean obligatorios. -->
    <main class="main-background2">

            <div class="container3">
                <section class="contact">
                    <h1>Contacto</h1>
                    <form id="contactForm" method="post">

                        <label for="name">Nombre:</label>
                        <input type="text" id="name" name="name" placeholder="Ingrese su Nombre">

                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Ingrese su Email">

                        <label for="message">Mensaje:</label>
                        <textarea id="message" name="message" rows="4" placeholder="Opcinalmente puede ingresar un mensaje"> </textarea>

                        <label for="category">Categoría:</label>
                        <select id="category" name="category">
                            <option value="Agragar">Agregar su negocio a los links</option>
                            <option value="">Seleccionar categoría...</option>
                            <option value="Consulta">Consulta</option>
                            <option value="Sugerencia">Sugerencia</option>
                            <option value="Reclamo">Reclamo</option>                            
                        </select>

                        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento">

                        <label for="attachment">Adjuntar Documento:</label>
                        <input type="file" id="attachment" name="attachment" accept=".*">


                        <button type="submit">Enviar</button>
                    </form>
                </section>
            </div>

    </main>
    <script src="../static/js/script.js"></script>
    <footer>
        <p>CAC - 2024 - Comision 24184 - Equipo 8 - TP 1</p>
    </footer>
</body>

</html>