<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas para Celíacos</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" type="../La web del celiaco" href="/static/img/images.ico">
</head>
<body>
    <header>
        <div class="header-logo">
            <a href="../index.html">
                <img src="../static/img/logo.png" alt="Logo La WEB del Celiaco">
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="que-es.html">¿Qué es?</a></li>
                <li><a href="recetas.html">Recetas</a></li>
                <li><a href="personajes.html">Personajes</a></li>
                <li><a href="links-utiles.html">Links Útiles</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
<main>
    <div class="container2">
        <section id="receta1" class="recipe">
            <h2>Ensalada de Quinoa y Verduras</h2>
            <p class="ingredientes">Ingredientes:</p>
            <ul>
                <li>120 gramos quinoa (una mezcla de quinoa de diferentes colores blanco, rojo y negro)</li>
                    <li>1 pimiento amarillo</li>
                    <li>1 calabacín</li>
                    <li>1 zanahoria</li>
                    <li>2 cucharadas de aceite de oliva</li>
                    <li>Sal y pimienta para sazonar</li>
                    <li>Un poco de perejil, perifollo o albahaca</li>
                </ul>
                <p class="preparacion">Preparación:</p>
                <ol class="lista">
                    <li>Lavar la quinoa a fondo con agua tibia para eliminar las sustancias amargas de las capas exteriores..</li>
                    <li>Cocer la quinoa en 2,5 veces de agua correspondiente a su peso durante 15 minutos y dejar que se hinche otros 5 minutos más.</li>
                    <li>Cortar la zanahoria, el pimiento y el calabacín en dados y freír las verduras por este mismo orden en aceite de oliva hasta que las verduras estén ligeramente doradas, pero todavía crujientes y frescas.</li>
                    <li>Mezclar la quinoa con las verduras y añadir la sal, la pimienta y las hierbas frescas como el perejil o la albahaca.</li>
                </ol>
                </section>
            </div>



</main>
    <footer>
        <p>CAC - 2024 - Comision 2418 - Equipo 8 - TP 1</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>