<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links Útiles</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
</head>
<body>
    <header>
        <nav>
            <img src="images/logo.png" alt="Logo" class="logo">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="que-es.html">¿Qué es?</a></li>
                <li><a href="recetas.html">Recetas</a></li>
                <li><a href="personajes.html">Personajes</a></li>
                <li><a href="links-utiles.html">Links Útiles</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="links">
            <h1>Links Útiles</h1>
            <ul>
                <li><a href="http://www.celiaconline.org/" target="_blank">Celiacs Online</a></li>
                <li><a href="https://www.argentina.gob.ar/salud/celiaquia" target="_blank">Ministerio de Salud de Argentina - Celiaquía</a></li>
                <li><a href="https://play.google.com/store/apps/details?id=ar.org.sintacc" target="_blank">App Sintacc</a></li>
                <li><a href="https://guiaceliacos.com/" target="_blank">Guía Celiacos</a></li>
                <li><a href="https://www.celiacosmadrid.org/" target="_blank">Asociación de Celiacos de Madrid</a></li>
                <li><a href="https://extraterrestreceliaco.blogspot.com/" target="_blank">Extraterrestre Celiaco</a></li>
                <li><a href="https://www.celiaquitos.com/sinGluten_celiacos.php" target="_blank">Celiaquitos - Sin Gluten para Celiacos</a></li>
                <li><a href="https://www.soyceliaconoextraterrestre.com/" target="_blank">Soy Celiaco, No Extraterrestre</a></li>
                <li><a href="https://www.argentina.gob.ar/anmat/alg" target="_blank">ANMAT - Productos Libres de Gluten</a></li>
                <li><a href="https://www.celigourmet.com.ar/" target="_blank">Celigourmet - Productos Libres de Gluten</a></li>
                <li><a href="http://www.almacendelceliaco.com.ar/" target="_blank">El Almacén del Celíaco</a></li>
                <li><a href="https://linktr.ee/comunidadceliacaargentina?fbclid=IwAR3uCwubg2KUhtyslxqrT4DlVm6mTj5y7NrCwYGtNbghcF3f6lmfeI-F9WI" target="_blank">Comunidad Celíaca Argentina</a></li>
                <li><a href="https://www.facebook.com/groups/celiacosargentina" target="_blank">Grupo de Facebook - Celiacos Argentina</a></li>
                <li><a href="https://escuela.celicidad.net/cursos" target="_blank">Cursos de Celicidad</a></li>
                <li><a href="https://youtu.be/SdiAEK1kA_o" target="_blank">Video: Cómo vivir con celiaquía</a></li>
            </ul>
        </section>
    </main>

    <footer>
        <p>CAC - 2024 - Comision 2418 - Equipo 8 - TP 1</p>
    </footer>
</body>
</html>
