<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links Útiles</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
</head>
<body>
    <header>
        <div class="header-logo">
            <a href="../index.html">
                <img src="../static/img/logo.png" alt="Logo La WEB del Celiaco">
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="que-es.html">¿Qué es?</a></li>
                <li><a href="recetas.html">Recetas</a></li>
                <li><a href="personajes.html">Personajes</a></li>
                <li><a href="links-utiles.html">Links Útiles</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="links">
            <h1>Links Útiles</h1>
            <h2>Información Oficial</h2>
                <ul>
                    <li><a href="https://www.argentina.gob.ar/salud/celiaquia" target="_blank">Ministerio de Salud de Argentina - Celiaquía</a></li>
                    <li><a href="https://www.argentina.gob.ar/anmat/alg" target="_blank">ANMAT - Productos Libres de Gluten</a></li>
                </ul>
            <h2>Grupos de gente</h2>
            <ul>
                <li><a href="http://www.celiaconline.org/" target="_blank">Celiacs Online</a></li>
                <li><a href="https://extraterrestreceliaco.blogspot.com/" target="_blank">Extraterrestre Celiaco</a></li>
                <li><a href="https://www.celiaquitos.com/sinGluten_celiacos.php" target="_blank">Celiaquitos - Sin Gluten para Celiacos</a></li>
                <li><a href="https://linktr.ee/comunidadceliacaargentina?fbclid=IwAR3uCwubg2KUhtyslxqrT4DlVm6mTj5y7NrCwYGtNbghcF3f6lmfeI-F9WI" target="_blank">Comunidad Celíaca Argentina</a></li>
                <li><a href="https://www.facebook.com/groups/celiacosargentina" target="_blank">Grupo de Facebook - Celiacos Argentina</a></li>
                <li><a href="https://www.soyceliaconoextraterrestre.com/" target="_blank">Soy Celiaco, No Extraterrestre</a></li>
                <li><a href="https://www.celiacosmadrid.org/" target="_blank">Asociación de Celiacos de Madrid</a></li>
            </ul>
            <h2>Para aprender</h2>
                <ul>
                    <li><a href="https://escuela.celicidad.net/cursos" target="_blank">Cursos de Celicidad</a></li>
                    <li><a href="https://guiaceliacos.com/" target="_blank">Guía Celiacos</a></li>
                </ul>
            <h2>Videos</h2>
                <ul>
                    <li><a href="https://youtu.be/SdiAEK1kA_o" target="_blank">Video: Cómo vivir con celiaquía</a></li>
                    <iframe width="400" height="300" src="https://www.youtube.com/embed/SdiAEK1kA_o?si=3UsBYC18PdHkSbnG" title="YouTube video player" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen > </iframe>
                </ul>
            <h2>Apps</h2>
                <ul>
                    <li><a href="https://play.google.com/store/apps/details?id=ar.org.sintacc" target="_blank">App Sintacc</a></li>
                </ul>
            <h2>Para comprar</h2>
                <ul>
                    <li><a href="https://www.celigourmet.com.ar/" target="_blank">Celigourmet - Productos Libres de Gluten</a></li>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.0423326310943!2d-58.433967100000004!3d-34.628370499999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca4c0e9510b5%3A0xdda25ebfd8f3481c!2sParque%20Chacabuco%2C%20Av.%20Jos%C3%A9%20Mar%C3%ADa%20Moreno%20815%2C%20C1424AAI%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1714054589780!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <li><a href="http://www.almacendelceliaco.com.ar/" target="_blank">El Almacén del Celíaco</a></li>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.042508375805!2d-58.436547389028796!3d-34.628366058686865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca4c0e9510b5%3A0xdda25ebfd8f3481c!2sParque%20Chacabuco%2C%20Av.%20Jos%C3%A9%20Mar%C3%ADa%20Moreno%20815%2C%20C1424AAI%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1714054660642!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <li><a href="https://zerogluten.ola.click/" target="_blank">Zero Gluten</a></li>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13134.8626750854!2d-58.4304149!3d-34.6113507!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccbcb184b8635%3A0x799b52b4e29d3cc4!2sZEROGLUTEN!5e0!3m2!1ses-419!2sar!4v1714054085529!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <li><a href="https://rojasglutenfree.com/" target="_blank">Rojas Gluten Free/a></li>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.373867815831!2d-58.44439158902902!3d-34.61999125824441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca38cbbd3977%3A0x8000e11ca47d58b2!2sRojas%2042%2C%20C1405AAB%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1714054303196!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </ul>
        </section>
    </main>

    <footer>
        <p>CAC - 2024 - Comision 2418 - Equipo 8 - TP 1</p>
    </footer>
</body>
</html>
