<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personajes Famosos con Celiaquía</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
</head>
<body>
    <header>
        <div class="header-logo">
            <a href="../index.html">
                <img src="../static/img/logo.png" alt="Logo La WEB del Celiaco">
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="que-es.html">¿Qué es?</a></li>
                <li><a href="recetas.html">Recetas</a></li>
                <li><a href="personajes.html">Personajes</a></li>
                <li><a href="links-utiles.html">Links Útiles</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Personajes Famosos con Celiaquía</h1>
        <section class="characters">

            <div class="character">
                <img src="../static/img/djokovic.jpg" alt="Personaje 1">
                <h2>Novak Djokovic</h2>
                <p>El tenista serbio, considerado uno de los mejores de todos los tiempos, fue diagnosticado con celiaquía en 2011. Desde entonces, ha seguido una estricta dieta sin gluten y ha sido un defensor activo de la conciencia sobre la enfermedad.</p>
                <p>El serbio publicó "Serve to win", un libro donde comparte los secretos de su dieta y brinda recomendaciones prácticas para alcanzar “la excelencia física y mental” —como reza el subtítulo— a través de hábitos alimenticios saludables.</p>
            </div>
            
            <div class="character">
                <img src="images/character2.jpg" alt="Personaje 2">
                <h2>Zooey Deschanel</h2>
                <p>La actriz y cantante estadounidense ha hablado públicamente sobre su diagnóstico de celiaquía. Se ha comprometido a seguir una dieta libre de gluten y a promover la conciencia sobre la enfermedad.</p>
            </div>

            <div class="character">
                <img src="images/character3.jpg" alt="Personaje 3">
                <h2>Joe Bastianich</h2>
                <p>El famoso chef, empresario y juez de programas de cocina como MasterChef, reveló su diagnóstico de celiaquía en 2011. Desde entonces, ha promovido la conciencia sobre la enfermedad y la importancia de la comida sin gluten.</p>
            </div>

            <div class="character">
                <img src="images/character4.jpg" alt="Personaje 4">
                <h2>Miley Cyrus</h2>
                <p>La cantante y actriz estadounidense ha hablado sobre su lucha contra la celiaquía y la importancia de seguir una dieta sin gluten. Ha utilizado su plataforma para concienciar sobre la enfermedad y promover un estilo de vida saludable.</p>
            </div>

            <div class="character">
                <img src="images/character5.jpg" alt="Personaje 5">
                <h2>Ryan Phillippe</h2>
                <p>El actor estadounidense ha sido diagnosticado con celiaquía y ha compartido públicamente su experiencia viviendo con la enfermedad. Ha alentado a otros a buscar un diagnóstico y a adoptar una dieta sin gluten para mejorar su salud.</p>
            </div>

            <!-- Personajes argentinos -->

            <div class="character">
                <img src="images/character6.jpg" alt="Personaje 6">
                <h2>Andrea Politti</h2>
                <p>La reconocida conductora y actriz argentina fue diagnosticada con celiaquía hace varios años. Desde entonces, ha sido una defensora de la conciencia sobre la enfermedad y ha compartido su experiencia personal para ayudar a otros.</p>
            </div>

            <div class="character">
                <img src="images/character7.jpg" alt="Personaje 7">
                <h2>Gastón Pauls</h2>
                <p>El actor argentino, conocido por su participación en numerosas películas y programas de televisión, ha hablado abiertamente sobre su celiaquía. Ha utilizado su plataforma para concienciar sobre la enfermedad y promover una alimentación saludable.</p>
            </div>

            <div class="character">
                <img src="images/character8.jpg" alt="Personaje 8">
                <h2>Natalia Oreiro</h2>
                <p>La reconocida actriz y cantante uruguayo-argentina fue diagnosticada con celiaquía hace algunos años. Desde entonces, ha seguido una dieta sin gluten y ha sido una voz importante en la conciencia sobre la enfermedad en la comunidad hispanohablante.</p>
            </div>

            <div class="character">
                <img src="images/character9.jpg" alt="Personaje 9">
                <h2>Paula Chaves</h2>
                <p>La modelo, conductora de televisión y actriz argentina ha hablado públicamente sobre su celiaquía. Ha compartido su experiencia personal y ha promovido la conciencia sobre la enfermedad en los medios de comunicación.</p>
            </div>

            <div class="character">
                <img src="images/character10.jpg" alt="Personaje 10">
                <h2>Peter Lanzani</h2>
                <p>El actor argentino, conocido por sus roles en series y películas, fue diagnosticado con celiaquía en su adolescencia. Desde entonces, ha seguido una dieta sin gluten y ha sido un ejemplo para sus fanáticos que también viven con la enfermedad.</p>
            </div>
        </section>
    </main>

    <footer>
        <p>CAC - 2024 - Comision 2418 - Equipo 8 - TP 1</p>
    </footer>
</body>
</html>
