<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personajes Famosos con Celiaquía</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon"  href="../static/img/favicon.ico">
    <!-- Google fonts El Messiri -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="header-logo">
            <a href="../index.html">
                <img src="../static/img/logo.png" alt="Logo La WEB del Celiaco">
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="que-es.html">¿Qué es?</a></li>
                <li><a href="recetas.html">Recetas</a></li>
                <li><a href="personajes.html">Personajes</a></li>
                <li><a href="links-utiles.html">Links Útiles</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Personajes Famosos con Celiaquía</h1>
        <section class="characters">

            <div class="character">
                <img src="../static/img/Personajes/novak-djokovic.jpg" alt="Novak Djokovic">
                <h2>Novak Djokovic</h2>
                <p>El tenista serbio, considerado uno de los mejores de todos los tiempos, fue diagnosticado con celiaquía en 2011. Desde entonces, ha seguido una estricta dieta sin gluten y ha sido un defensor activo de la conciencia sobre la enfermedad.</p>
                <p>El serbio publicó <a href="../static/docs/El secreto de un ganador.pdf" download>"Serve to win"</a>, un libro donde comparte los secretos de su dieta y brinda recomendaciones prácticas para alcanzar “la excelencia física y mental”.
                    <p>.</p>
                </p>
            </div>
            
            <div class="character">
                <img src="../static/img/Personajes/Zooey-Deschanel.jpg" alt="Zooey Deschanel">
                <h2>Zooey Deschanel</h2>
                <p>La actriz y cantante estadounidense ha hablado públicamente sobre su diagnóstico de celiaquía. Se ha comprometido a seguir una dieta libre de gluten y a promover la conciencia sobre la enfermedad. A desarrollado varias acciones para ayudar a los demás.</p>
                <p>A desarrollado varias acciones para ayudar a los demás.</p>
            </div>

            <div class="character">
                <img src="../static/img/Personajes/Joe_Bastianich.jpg" alt="Joe Bastianich">
                <h2>Joe Bastianich</h2>
                <p>El famoso chef, empresario y juez de programas de cocina como MasterChef, reveló su diagnóstico de celiaquía en 2011. Desde entonces, ha promovido la conciencia sobre la enfermedad y la importancia de la comida sin gluten.</p>
            </div>

            <div class="character">
                <img src="../static/img/Personajes/Miley-Cyrus2.jpg" alt="Miley Cyrus">
                <h2>Miley Cyrus</h2>
                <p>La cantante y actriz estadounidense ha hablado sobre su lucha contra la celiaquía y la importancia de seguir una dieta sin gluten. Ha utilizado su plataforma para concienciar sobre la enfermedad y promover un estilo de vida saludable.</p>
            </div>

            <div class="character">
                <img src="../static/img/Personajes/Ryan-Phillippe.jpg" alt="Ryan Phillippe">
                <h2>Ryan Phillippe</h2>
                <p>El actor estadounidense ha sido diagnosticado con celiaquía y ha compartido públicamente su experiencia viviendo con la enfermedad. Ha alentado a otros a buscar un diagnóstico y a adoptar una dieta sin gluten para mejorar su salud.</p>
            </div>

            <div class="character">
                <img src="../static/img/Personajes/Ivan_Rakitic.jpg" alt="Ivan Rakitic">
                <h2>Ivan Rakitic.jpg</h2>
                <p>El ex centrocampista croata del Barça descubrió gracias a una analítica que era celíaco y ha modificado por completo sus hábitos alimenticios. “Me pasaba muchas veces que después de los partidos me sentía bastante mal, inflado. Y no me recuperaba tan bien. Cambié completamente toda mi alimentación”, asegura </p>
            </div>
            <!-- Personajes argentinos -->

            <div class="character">
                <img src="../static/img/Personajes/Andrea-Politti.jpg" alt="Andrea Politti">
                <h2>Andrea Politti</h2>
                <p>La reconocida conductora y actriz argentina fue diagnosticada con celiaquía hace varios años. Desde entonces, ha sido una defensora de la conciencia sobre la enfermedad y ha compartido su experiencia personal para ayudar a otros.</p>
            </div>

            <div class="character">
                <img src="../static/img/Personajes/gaston-pauls.jpg" alt="Gastón Pauls">
                <h2>Gastón Pauls</h2>
                <p>El actor argentino, conocido por su participación en numerosas películas y programas de televisión, ha hablado abiertamente sobre su celiaquía. Ha utilizado su plataforma para concienciar sobre la enfermedad y promover una alimentación saludable.</p>
            </div>

            <div class="character">
                <img src="../static/img/Personajes/natalia-oreiro.jpeg" alt="Natalia Oreiro">
                <h2>Natalia Oreiro</h2>
                <p>La reconocida actriz y cantante uruguayo-argentina fue diagnosticada con celiaquía hace algunos años. Desde entonces, ha seguido una dieta sin gluten y ha sido una voz importante en la conciencia sobre la enfermedad en la comunidad hispanohablante.</p>
            </div>

            <div class="character">
                <img src="../static/img/Personajes/Paula-Chaves2.jpg" alt="Paula Chaves">
                <h2>Paula Chaves</h2>
                <p>La modelo, conductora de televisión y actriz argentina ha hablado públicamente sobre su celiaquía. Ha compartido su experiencia personal y ha promovido la conciencia sobre la enfermedad en los medios de comunicación.</p>
            </div>

            <div class="character">
                <img src="../static/img/Personajes/peter-lanzani.jpg" alt="Peter Lanzani">
                <h2>Peter Lanzani</h2>
                <p>El actor argentino, conocido por sus roles en series y películas, fue diagnosticado con celiaquía en su adolescencia. Desde entonces, ha seguido una dieta sin gluten y ha sido un ejemplo para sus fanáticos que también viven con la enfermedad.</p>
            </div>
            <div class="character">
                <img src="../static/img/Personajes/Lautaro_Acosta.jpg" alt="Lautaro Acosta">
                <h2>Lautaro Acosta</h2>
                <p>El capitan de Lanus, luego de intentar varios métodos para mejorar su rendimiento, le detectaron celiaquía recientemente. A partir de esto  cambió su dieta para que todo lo que le alimente pueda ser nutritivo, así mejorar su rendimiento dentroy fuera de la cancha.  </p>
            </div>
        </section>
    </main>

    <footer>
        <p>CAC - 2024 - Comision 2418 - Equipo 8 - TP 1</p>
    </footer>
</body>
</html>
