<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qué es</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
</head>
<body>
    <header>
        <div class="header-logo">
            <a href="../index.html">
                <img src="../static/img/logo.png" alt="Logo La WEB del Celiaco">
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="que-es.html">¿Qué es?</a></li>
                <li><a href="recetas.html">Recetas</a></li>
                <li><a href="personajes.html">Personajes</a></li>
                <li><a href="links-utiles.html">Links Útiles</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="content">
            <h1>¿Qué es la enfermedad celíaca?</h1>
            <p>La enfermedad celíaca es un trastorno autoinmune que afecta el intestino delgado y es desencadenado por la ingesta de gluten, una proteína presente en el trigo, la cebada y el centeno. Cuando las personas con celiaquía consumen gluten, su sistema inmunológico reacciona y daña las vellosidades del intestino delgado, lo que dificulta la absorción adecuada de nutrientes.</p>
            <p>La enfermedad celíaca puede presentarse a cualquier edad y puede causar una variedad de síntomas, que van desde leves a severos, como dolor abdominal, diarrea crónica, fatiga, anemia, erupciones cutáneas, entre otros. Sin embargo, algunas personas pueden no tener síntomas evidentes.</p>
            <img src="images/celiac-disease.jpg" alt="Enfermedad Celíaca" class="image">
            <p>La enfermedad celíaca se diagnostica mediante pruebas de sangre que detectan ciertos anticuerpos asociados con la enfermedad, seguidas de una biopsia intestinal para confirmar el diagnóstico. Actualmente, el único tratamiento efectivo para la enfermedad celíaca es seguir una estricta dieta libre de gluten de por vida.</p>
            <p>Es importante que las personas con celiaquía eviten el gluten en todas sus formas, incluidos alimentos, bebidas y productos de cuidado personal. Esto significa leer cuidadosamente las etiquetas de los alimentos y elegir productos certificados como libres de gluten cuando sea posible.</p>
            <img src="images/gluten-free-diet.jpg" alt="Dieta Libre de Gluten" class="image">
            <p>Además, es fundamental que las personas con celiaquía se mantengan informadas sobre la enfermedad y sus implicaciones para su salud. Esto incluye conocer los ingredientes que pueden contener gluten oculto y saber cómo evitar la contaminación cruzada en la cocina y en restaurantes.</p>
            <p>Con el manejo adecuado y el seguimiento de una dieta libre de gluten, la mayoría de las personas con celiaquía pueden llevar una vida saludable y activa. Sin embargo, es importante trabajar en colaboración con profesionales de la salud, como médicos y dietistas, para garantizar un tratamiento y manejo adecuados de la enfermedad.</p>
        </section>
    </main>

    <footer>
        <p>CAC - 2024 - Comision 2418 - Equipo 8 - TP 1</p>
    </footer>
</body>
</html>
