<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas para Celíacos</title>
    <link rel="stylesheet" href="../static/css/styles_naty.css">
    <link rel="shortcut icon" type="../La web del celiaco" href="/static/img/images.ico">
</head>
<body>
    <header>
        <div class="header-logo">
            <a href="../index.html">
                <img src="../static/img/logo.png" alt="Logo La WEB del Celiaco">
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="que-es.html">¿Qué es?</a></li>
                <li><a href="recetas.html">Recetas</a></li>
                <li><a href="personajes.html">Personajes</a></li>
                <li><a href="links-utiles.html">Links Útiles</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
<main>
    <div class="container2">
        <section id="receta1" class="recipes">
            <h2>Pastas de Arroz con Verduras</h2>
            <p class="ingredientes">Ingredientes:</p>
            <ul>
                    <li>1 berenjena</li>
                    <li>1 zanahoria</li>
                    <li>1/2 zapallo anco mediano</li>
                    <li>2 dientes ajo</li>
                    <li>1 cebolla mediana</li>
                    <li>1/2 morron</li>
                </ul>
                <p class="preparacion">Preparación:</p>
                <ol class="lista">
                    <li>Lavar pelar y cortar los vegetales, acomodarlos en una asadera, rociarlos con aceite de oliva o el que prefieran, sal y una cdita de caldo deshidratado (opcional).</li>
                    <li>Remover cada tanto los vegetales para que no se quemen, si hiciera falta agregar algo de agua.</li>
                    <li>Cuando estén cocidos servir en el plato con los fideos de arroz cocidos/hidratados (según los que usen), y rociar con aceite de oliva, rectificar sal de ser necesario y agregar pimienta si les gusta. Es riquísimo, rápido y mega fácil! </li>
                </ol>
            </section>
        </div>

</main>
    <footer>
        <p>CAC - 2024 - Comision 2418 - Equipo 8 - TP 1</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>