<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas para Celíacos</title>
    <link rel="stylesheet" href="../static/css/styles_naty.css">
    <link rel="icon" href="../static/img/favicon.ico">

</head>

<body>
    <header>
        <div class="header-logo">
            <a href="../index.html">
                <img src="../static/img/logo.png" alt="Logo La WEB del Celiaco">
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="que-es.html">¿Qué es?</a></li>
                <li><a href="recetas.html">Recetas</a></li>
                <li><a href="personajes.html">Personajes</a></li>
                <li><a href="links-utiles.html">Links Útiles</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container2">
            <section id="receta1" class="recipes">
                <h2>Pastel de Pollo Sin Gluten</h2>
                <p class="ingredientes">Ingredientes:</p>
                <ul>
                    <li>180 gramos de Maizena</li>
                    <li>2 cucharadas de mix de semillas sin gluten</li>
                    <li>110 gramos de leche en polvo descremada sin gluten</li>
                    <li>1 huevo</li>
                    <li>3 cucharadas de aceite</li>
                    <li>agua cantidad necesaria</li>
                </ul>
                <p class="relleno">Relleno:</p>
                <ul>
                    <li>1 cebolla cortada en cubos</li>
                    <li>1 zanahoria cortada en rueditas</li>
                    <li>110 gramos de leche en polvo descremada sin gluten</li>
                    <li>1/4 de morrón rojo cortado en cubitos</li>
                    <li>2 cucharadas de aceite</li>
                    <li>2 cucharadas de aceite</li>
                </ul>
                <p class="preparacion">Preparación:</p>
                <ol class="lista">
                    <li>Masa: En un bol dispone la Maizena junto a la leche en polvo, las semillitas y mezcla bien.
                    </li>
                    <li>Ahora agregá el huevo, el aceite y un chorrito de agua fría.</li>
                    <li>Con la ayuda de una cuchara o las manos integrá todos los ingredientes hasta lograr una masa
                        suave.</li>
                    <li>Si fuera necesario agregá más agua o Maizena para darle el punto justo. Esta masa no
                        necesita amasados.</li>
                    <li>Cubrí el bollo de masa con papel film y dejá descansar en la heladera por 15 minutos.</li>
                    <li>Estirá la masa con un palote de cocina y más Maizena. Cubrí un molde para tarta (22 a 24 cm)
                        y reservá en heladera.</li>
                    <li>Relleno: En una sartén a fuego medio salteá la cebolla, la zanahoria y el morrón hasta que
                        resulten bien cocidos junto a un chorrito de aceite.</li>
                    <li>Mezclá con el pollo cocido, condimentá a gusto y reservá.</li>
                    <li>Ligue: En un bol mezclá la leche, con el huevo y la Maizena con la ayuda de un batidor.</li>
                    <li>Condimenáa a gusto y reservá.</li>
                    <li>Armado de la tarta y cocción: Pre-calentá el horno de casa.</li>
                    <li>Sobre la masa ya estirada en el molde agregá el relleno de verdura y pollo</li>
                    <li>Distribuí de manera uniforme. Ahora agregamos el ligue hasta cubrir todo.</li>
                    <li>Tené cuidado que el ligue no rebalse la altura del borde de la masa y cociná en horno medio
                        por 30-40´aproximadamente.</li>
                    <li>Una vez bien cocida la tarta dejala entibiar y servila con una rica ensalada.</li>
                </ol>
            </section>
        </div>

    </main>
    <footer>
        <p>CAC - 2024 - Comision 2418 - Equipo 8 - TP 1</p>
    </footer>
</body>

</html>