<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas para Celíacos</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" type="../La web del celiaco" href="/static/img/images.ico">
</head>
<body>
    <header>
        <div class="header-logo">
            <a href="../index.html">
                <img src="../static/img/logo.png" alt="Logo La WEB del Celiaco">
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="que-es.html">¿Qué es?</a></li>
                <li><a href="recetas.html">Recetas</a></li>
                <li><a href="personajes.html">Personajes</a></li>
                <li><a href="links-utiles.html">Links Útiles</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="recipes">
            <h1>Recetas para Celíacos</h1>
            <div class="recipe">
                <img src="../static/img/pastel-de-pollo-sin-gluten.jpg" alt="Receta 1">
                <h2>Pastel de Pollo sin Gluten</h2>
                <p>Ingredientes:</p>
                <ul>
                    <li>180 gramos de Maizena</li>
                    <li>2 cucharadas de mix de semillas sin gluten</li>
                    <li>110 gramos de leche en polvo descremada sin gluten</li>
                    <li>1 huevo</li>
                    <li>3 cucharadas de aceite</li>
                    <li>agua cantidad necesaria</li>
                </ul>
                <p>Relleno:</p>
                <ul>
                    <li>1 cebolla cortada en cubos</li>
                    <li>1 zanahoria cortada en rueditas</li>
                    <li>110 gramos de leche en polvo descremada sin gluten</li>
                    <li>1/4 de morrón rojo cortado en cubitos</li>
                    <li>2 cucharadas de aceite</li>
                    <li>2 cucharadas de aceite</li>
                <p>Preparación:</p>
                <ol>
                    <li>Masa: En un bol dispone la Maizena junto a la leche en polvo, las semillitas y mezcla bien.</li>
                    <li>Ahora agregá el huevo, el aceite y un chorrito de agua fría.</li>
                    <li>Con la ayuda de una cuchara o las manos integrá todos los ingredientes hasta lograr una masa suave.</li>
                    <li>Si fuera necesario agregá más agua o Maizena para darle el punto justo. Esta masa no necesita amasados.</li>
                    <li>Cubrí el bollo de masa con papel film y dejá descansar en la heladera por 15 minutos.</li>
                    <li>Estirá la masa con un palote de cocina y más Maizena. Cubrí un molde para tarta (22 a 24 cm) y reservá en heladera.</li>
                    <li>Relleno: En una sartén a fuego medio salteá la cebolla, la zanahoria y el morrón hasta que resulten bien cocidos junto a un chorrito de aceite.</li>
                    <li>Mezclá con el pollo cocido, condimentá a gusto y reservá.</li>
                    <li>Ligue: En un bol mezclá la leche, con el huevo y la Maizena con la ayuda de un batidor.</li>
                    <li>Condimenáa a gusto y reservá.</li>
                    <li>Armado de la tarta y cocción: Pre-calentá el horno de casa.</li>
                    <li>Sobre la masa ya estirada en el molde agregá el relleno de verdura y pollo</li>
                    <li>Distribuí de manera uniforme. Ahora agregamos el ligue hasta cubrir todo.</li>
                    <li>Tené cuidado que el ligue no rebalse la altura del borde de la masa y cociná en horno medio por 30-40´aproximadamente.</li>
                    <li>Una vez bien cocida la tarta dejala entibiar y servila con una rica ensalada.</li>
                </ol>
            </div>
            
            <div class="recipe">
                <img src="../static/img/pastadearrozconverduras.png" alt="Receta 2">
                <h2>Pastas de Arroz con Verduras</h2>
                <p>Ingredientes:</p>
                <ul>
                    <li>1 berenjena</li>
                    <li>1 zanahoria</li>
                    <li>1/2 zapallo anco mediano</li>
                    <li>2 dientes ajo</li>
                    <li>1 cebolla mediana</li>
                    <li>1/2 morron</li>
                </ul>
                <p>Preparación:</p>
                <ol>
                    <li>Lavar pelar y cortar los vegetales, acomodarlos en una asadera, rociarlos con aceite de oliva o el que prefieran, sal y una cdita de caldo deshidratado (opcional).</li>
                    <li>Remover cada tanto los vegetales para que no se quemen, si hiciera falta agregar algo de agua.</li>
                    <li>Cuando estén cocidos servir en el plato con los fideos de arroz cocidos/hidratados (según los que usen), y rociar con aceite de oliva, rectificar sal de ser necesario y agregar pimienta si les gusta. Es riquísimo, rápido y mega fácil! </li>
                </ol>
            </div>

            <!-- Otras recetas -->

            <div class="recipe">
                <img src="../static/img/tarta-de-manzana.png" alt="Receta 3">
                <h2>Tarta de Manzana sin Gluten</h2>
                <p>Ingredientes:</p>
                <ul>
                    <li>2 huevos</li>
                    <li>200 gramos de Maizena</li>
                    <li>1 Pizca de azúcar</li>
                    <li>1 manzana verde</li>
                    <li>manteca (cantidad necesaria)</li>
                </ul>
                <p>Preparación:</p>
                <ol>
                    <li>En una licuadora volcar los huevos, la Maizena, la leche y el azúcar</li>
                    <li>Licuar todo junto y reservar en la heladera por 30 minutos</li>
                    <li>Mientras tanto cortar la manzana en rodajas muy finas y rociar con un poco de jugo de limón para evitar que se oxiden.</li>
                    <li>Pasados los 10 minutos, enmantecar una sartén y llevarla a fuego fuerte.</li>
                    <li>Una vez bien caliente volcar la mitad de la preparación, apenas comienza a cocinarse apoyar con cuidado y de manera pareja (sin encimar la una con la otra) las rodajas de manzana.</li>
                    <li>Bajar el fuego y volcar el resto de la preparación por encima de las manzanas.</li>
                    <li>Una vez que se coagule la pasta dar vuelta el panqueque para que se termine de cocinar del otro lado.</li>
                    <li>Mientras tanto espolvorear azúcar en otra sartén para hacer un caramelo, una vez que esté a punto deslizar el panqueque dentro de esta nueva sartén y dejarlo aproximadamente 30 segundos de un lado y del otro para que se impregne bien el caramelo.</li>
                    <li>Servir sólo o acompañado de una bocha de helado o de crema batida.</li>
                   </ol>
            </div>

            <div class="recipe">
                <img src="../static/img/quinoayverduras.png" alt="Receta 4">
                <h2>Ensalada de Quinoa y Verduras</h2>
                <p>Ingredientes:</p>
                <ul>
                    <li>120 gramos quinoa (una mezcla de quinoa de diferentes colores blanco, rojo y negro)</li>
                    <li>1 pimiento amarillo</li>
                    <li>1 calabacín</li>
                    <li>1 zanahoria</li>
                    <li>2 cucharadas de aceite de oliva</li>
                    <li>Sal y pimienta para sazonar</li>
                    <li>Un poco de perejil, perifollo o albahaca</li>
                </ul>
                <p>Preparación:</p>
                <ol>
                    <li>Lavar la quinoa a fondo con agua tibia para eliminar las sustancias amargas de las capas exteriores..</li>
                    <li>Cocer la quinoa en 2,5 veces de agua correspondiente a su peso durante 15 minutos y dejar que se hinche otros 5 minutos más.</li>
                    <li>Cortar la zanahoria, el pimiento y el calabacín en dados y freír las verduras por este mismo orden en aceite de oliva hasta que las verduras estén ligeramente doradas, pero todavía crujientes y frescas.</li>
                    <li>Mezclar la quinoa con las verduras y añadir la sal, la pimienta y las hierbas frescas como el perejil o la albahaca.</li>
                </ol>
            </div>

            <div class="recipe">
                <img src="../static/img/pizzadeverduras.png" alt="Receta 5">
                <h2>Pizza de Verduras sin Gluten</h2>
                <p>Ingredientes:</p>
                <ul>
                    <li>Base de pizza sin gluten</li>
                    <li>Salsa de tomate para la base</li>
                    <li>Queso rallado sin gluten</li>
                    <li>1 berenjena</li>
                    <li>Sal y pimienta</li>
                    <li>Topping napolitana</li>
                    <li>1 tomate</li>
                    <li>Hojas albahaca fresca</li>
                    <li>Sal</li>
                </ul>
                <p>Preparación:</p>
                <ol>
                    <li>En un bowl ponemos la premezcla y la leche en polvo. Cuando la levadura haya crecido y haga como una espuma, hacemos un huequito en la premezcla y ponemos la levadura. Agregamos el huevo y el aceite. Formamos un bollo con las manos. Si está muy seco pueden agregar leche. Amasamos un poco y acomodarnos la masa en una pizzera engrasada (yo usé spray vegetal). Cubrimos la masa y la dejamos levar por 30 minutos.</li>
                    <li>Esparcir el queso rallado...</li>
                    <li>En esos 30 minutos vamos a preparar los toppings. Cortamos la berenjena en rodajas finas. Ponemos en una placa previamente rociada con aceite. Condimentamos con sal, aceite y pimentón y llevamos a horno fuerte por 10 minutos. Retiramos y reservamos.</li>
                    <li>Para la pizza napolitana cortamos el tomate en rodajas finas, condimentamos con sal y reservamos. Lavamos la hojas de albahaca y reservamos.</li>
                    <li>Luego de los 30 minutos cocinamos la pizza en horno fuerte por 10 minutos aproximadamente. Retiramos, ponemos la salsa y el queso repartido en cubos por toda la masa. En una mitad ponemos las berenjenas y en la otra el tomate. Si quieren puede poner un hilo finito de aceite de oliva por encima, un toquecito de queso rallado y una pizca de ajo deshidratado en polvo. Llevamos al horno fuerte hasta que de derrita el queso y se caliente el tomate.</li>
                    <li>Retiramos la pizza del horno y solo queda ponerle la albahaca. No se la pongan antes porque la albahaca no resiste el calor. Espero que les guste y prueben hacerla en casa</li>
                </ol>
            </div>
        </section>
    </main>

    <footer>
        <p>CAC - 2024 - Comision 2418 - Equipo 8 - TP 1</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>
