<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas para Celíacos</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" type="../La web del celiaco" href="/static/img/images.ico">
</head>
<body>
    <header>
        <div class="header-logo">
            <a href="../index.html">
                <img src="../static/img/logo.png" alt="Logo La WEB del Celiaco">
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="que-es.html">¿Qué es?</a></li>
                <li><a href="recetas.html">Recetas</a></li>
                <li><a href="personajes.html">Personajes</a></li>
                <li><a href="links-utiles.html">Links Útiles</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <section id="receta1" class="recipe">
                <h2 class="pastel-pollo">Pastel de Pollo Sin Gluten</h2>
                <img src="../static/img/pastel-de-pollo-sin-gluten.jpg" alt="Receta 1">
                <a href="../templates/pastelpollo.html">Ver receta</a>
            </section>
             
            <section id="receta2" class="recipe">
                <h2 class="pasta-arroz">Pastas de Arroz con Verduras</h2>
                <img src="../static/img/pastadearrozconverduras.png" alt="Receta 2">
                <a href="../templates/pasta-arroz.html">Ver Receta</a>
            </section>
    
            <section id="receta3" class="recipe">
                <h2 class="tarta-manzana">Tarta de Manzana</h2>
                <img src="../static/img/tarta-de-manzana.png" alt="Receta 3">
                <a href="../templates/tarta-manzana.html">Ver Receta</a>
            </section>

            <section id="receta4" class="recipe">
                <h2 class="ensalada-quinoa">Ensalada de Quinoa y Verduras</h2>
                <img src="../static/img/quinoayverduras.png" alt="Receta 4">
                <a href="../templates/ensaladaquinoa.html">Ver Receta</a>
            </section>

            <section id="receta5" class="recipe">
                <h2 class="pizza-verdura">Pizza de Verduras sin Gluten</h2>
                <img src="../static/img/pizzadeverduras.png" alt="Receta 5">
                <a href="../templates/pizza.verdura.html">Ver Receta</a>
            </section>

            <section id="receta6" class="recipe">
                <h2 class="mouse-limon">Pizza de Verduras sin Gluten</h2>
                <img src="../static/img/images (3).png" alt="Receta 6">
                <a href="../templates/mouselimon.html">Ver Receta</a>
            </section>
    
        </div>
           
    </main>

    <footer>
        <p>CAC - 2024 - Comision 2418 - Equipo 8 - TP 1</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>
