<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas para Celíacos</title>
    <link rel="stylesheet" href="../static/css/styles_naty.css">
    <link rel="icon" href="../static/img/favicon.ico">
</head>

<body>
    <header>
        <div class="header-logo">
            <a href="../index.html">
                <img src="../static/img/logo.png" alt="Logo La WEB del Celiaco">
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="que-es.html">¿Qué es?</a></li>
                <li><a href="recetas.html">Recetas</a></li>
                <li><a href="personajes.html">Personajes</a></li>
                <li><a href="links-utiles.html">Links Útiles</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container2">
            <section id="receta1" class="recipes">
                <h2>Tarta de Manzana Sin Gluten</h2>
                <p class="ingredientes">Ingredientes:</p>
                <ul>
                    <ul>
                        <li>2 huevos</li>
                        <li>200 gramos de Maizena</li>
                        <li>1 Pizca de azúcar</li>
                        <li>1 manzana verde</li>
                        <li>manteca (cantidad necesaria)</li>
                    </ul>
                    <p class="preparacion">Preparación:</p>
                    <ol class="lista">
                        <li>En una licuadora volcar los huevos, la Maizena, la leche y el azúcar</li>
                        <li>Licuar todo junto y reservar en la heladera por 30 minutos</li>
                        <li>Mientras tanto cortar la manzana en rodajas muy finas y rociar con un poco de jugo de limón
                            para evitar que se oxiden.</li>
                        <li>Pasados los 10 minutos, enmantecar una sartén y llevarla a fuego fuerte.</li>
                        <li>Una vez bien caliente volcar la mitad de la preparación, apenas comienza a cocinarse apoyar
                            con cuidado y de manera pareja (sin encimar la una con la otra) las rodajas de manzana.</li>
                        <li>Bajar el fuego y volcar el resto de la preparación por encima de las manzanas.</li>
                        <li>Una vez que se coagule la pasta dar vuelta el panqueque para que se termine de cocinar del
                            otro lado.</li>
                        <li>Mientras tanto espolvorear azúcar en otra sartén para hacer un caramelo, una vez que esté a
                            punto deslizar el panqueque dentro de esta nueva sartén y dejarlo aproximadamente 30
                            segundos de un lado y del otro para que se impregne bien el caramelo.</li>
                        <li>Servir sólo o acompañado de una bocha de helado o de crema batida.</li>
                    </ol>
            </section>
        </div>



    </main>
    <footer>
        <p>CAC - 2024 - Comision 2418 - Equipo 8 - TP 1</p>
    </footer>

    <script src="script.js"></script>
</body>

</html>