<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas para Celíacos</title>
    <link rel="stylesheet" href="../static/css/styles_naty.css">
    <link rel="icon" href="../static/img/favicon.ico">
</head>

<body>
    <header>
        <div class="header-logo">
            <a href="../index.html">
                <img src="../static/img/logo.png" alt="Logo La WEB del Celiaco">
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="que-es.html">¿Qué es?</a></li>
                <li><a href="recetas.html">Recetas</a></li>
                <li><a href="personajes.html">Personajes</a></li>
                <li><a href="links-utiles.html">Links Útiles</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container2">
            <section id="receta1" class="recipes">
                <h2>Pizza de Verduras Sin Gluten</h2>
                <p class="ingredientes">Ingredientes:</p>
                <ul>
                    <li>Base de pizza sin gluten</li>
                    <li>Salsa de tomate para la base</li>
                    <li>Queso rallado sin gluten</li>
                    <li>1 berenjena</li>
                    <li>Sal y pimienta</li>
                    <li>Topping napolitana</li>
                    <li>1 tomate</li>
                    <li>Hojas albahaca fresca</li>
                    <li>Sal</li>
                </ul>
                <p class="preparacion">Preparación:</p>
                <ol>
                    <li>En un bowl ponemos la premezcla y la leche en polvo. Cuando la levadura haya crecido y haga como
                        una espuma, hacemos un huequito en la premezcla y ponemos la levadura. Agregamos el huevo y el
                        aceite. Formamos un bollo con las manos. Si está muy seco pueden agregar leche. Amasamos un poco
                        y acomodarnos la masa en una pizzera engrasada (yo usé spray vegetal). Cubrimos la masa y la
                        dejamos levar por 30 minutos.</li>
                    <li>Esparcir el queso rallado...</li>
                    <li>En esos 30 minutos vamos a preparar los toppings. Cortamos la berenjena en rodajas finas.
                        Ponemos en una placa previamente rociada con aceite. Condimentamos con sal, aceite y pimentón y
                        llevamos a horno fuerte por 10 minutos. Retiramos y reservamos.</li>
                    <li>Para la pizza napolitana cortamos el tomate en rodajas finas, condimentamos con sal y
                        reservamos. Lavamos la hojas de albahaca y reservamos.</li>
                    <li>Luego de los 30 minutos cocinamos la pizza en horno fuerte por 10 minutos aproximadamente.
                        Retiramos, ponemos la salsa y el queso repartido en cubos por toda la masa. En una mitad ponemos
                        las berenjenas y en la otra el tomate. Si quieren puede poner un hilo finito de aceite de oliva
                        por encima, un toquecito de queso rallado y una pizca de ajo deshidratado en polvo. Llevamos al
                        horno fuerte hasta que de derrita el queso y se caliente el tomate.</li>
                    <li>Retiramos la pizza del horno y solo queda ponerle la albahaca. No se la pongan antes porque la
                        albahaca no resiste el calor. Espero que les guste y prueben hacerla en casa</li>
                </ol>
            </section>
        </div>
    </main>
    <footer>
        <p>CAC - 2024 - Comision 2418 - Equipo 8 - TP 1</p>
    </footer>
</body>

</html>