<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas para Celíacos</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" type="../La web del celiaco" href="/static/img/images.ico">
</head>
<body>
    <header>
        <div class="header-logo">
            <a href="../index.html">
                <img src="../static/img/logo.png" alt="Logo La WEB del Celiaco">
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="que-es.html">¿Qué es?</a></li>
                <li><a href="recetas.html">Recetas</a></li>
                <li><a href="personajes.html">Personajes</a></li>
                <li><a href="links-utiles.html">Links Útiles</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
<main>
    <div class="container2">
        <section id="receta1" class="recipe">
            <h2>Mouse de Limón</h2>
            <p class="ingredientes">Ingredientes:</p>
            <ul>
                <li>1 berenjena</li>
                    <li>250g de yogur sabor limon</li>
                    <li>500ml de nata de montar</li>
                    <li>500ml zumo de limón</li>
            </ul>
            <p class="preparacion">Preparación:</p>
                <ol class="lista">
                    <li>Para comenzar con la elaboración, en un bol ponemos los yogures junto con el zumo de limón. Mezclamos hasta obtener una mezcla homogénea y sin grumos.</li>
                    <li>En otro bol añadimos la nata para montar y, con ayuda de unas varillas batimos bien hasta conseguir montar la nata. Si las varillas son eléctricas, este paso será más sencillo, pero se puede hacer con unas manuales. Además, es aconsejable que la nata esté lo más fría posible para que se pueda batir más fácilmente.</li>
                    <li>Hecho esto, agregamos al bol donde tenemos la mezcla de yogur y limón la mitad de la nata ya montada y mezclamos todo haciendo movimientos envolventes. Una vez se haya integrado todo, añade la otra mitad de la nata y vuelve a mezclar.</li>
                    <li>Finalmente, cuando se haya integrado todo bien, sirve nuestra mousse de limón en vasitos o copas individuales y guárdalos en el frigorífico alrededor de 1 hora antes de consumir.</li>
                </ol>
            </section>
        </div>
</main>

    <footer>
    <p>CAC - 2024 - Comision 2418 - Equipo 8 - TP 1</p>
</footer>

<script src="script.js"></script>
</body>
</html>
